@import url('https://fonts.googleapis.com/css?family=Roboto|Oswald');

body{
    font-family: Roboto;
    text-align: center;
}

/* typography */

main h1,
h2
{
    font-family: Oswald;
	font-size: 3rem;
	font-weight: 900;
	margin-bottom: 1.5rem;
	line-height: 4rem;
}
	.button{
		height: 44px;
		font-size: 1.125rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-weight: bold;
	}

p{
	font-size: 1.125rem;
	line-height: 1.5rem;
}

/* nav */

nav{
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;


	height: 140px;
	justify-content: flex-end;
	flex-direction: column;
}
nav *{
	justify-content: center;
	align-items: center;
}
	nav h1{
		font-weight: 100;
		font-size: 2rem;
		flex: 1;
	}
		nav h1 span{
			font-weight: 900;
			display: inline;
			margin-left: .5rem;
		}
	nav ul{
		height: 80px;
		margin: 0;
	}
		nav li{
			flex: 0 0 33.3333%;
			font-weight: bold;
			display: flex;
			font-size: 1.125rem;
		}

/* main */

main > *,
footer
{
	padding: 3rem .75rem;
}

/* hero */
.hero{
	flex-direction: column;
	height: 660px;
	background-image: url(images/hero_bg.jpg);
	justify-content: center;
	padding: 12px;
	background-size: cover;
	background-position: center;
}
	.hero h2{
		flex-direction: column;
		color: #5E35B1;
		text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
		margin-bottom: 1.5rem;
	}

/* about */

/* what-we-do */
.what-we-do-item{
	margin-bottom: 1.5rem;
}
.what-we-do-item *:not(p){
	color: #5E35B1;
		margin-bottom: .75rem;
}
	i{
		font-size: 3rem;
	}
	h3{
		font-weight: bold;
		font-size: 1.5rem;
	}

/* work */
.work h2{
	margin-bottom: 2.25rem;
}
	.work-item h3{
		font-size: 1.125rem;
		margin: .75rem 0 1.5rem 0;
	}
	.work-item:last-of-type h3{
		margin-bottom: 0;
	}

/* testimonials */
.testimonials-item{
	margin-bottom: 1.5rem;
}
.testimonials-item:last-child{
	margin-bottom: 0;
}
	.testimonials img{
		border-radius: 100px;
		width: 100px;
		height: 100px;
		margin-bottom: .75rem;
	}
	.testimonials-text{
		text-align: left;
	}
/* step7
In site.css, write a selector targeting the <body> element. Give <body> a font-family 
using the font stack for your normal (non-headline intended) font, a font size of 1.125rem,
 and a line height (leading) of 1.5 (there is no unit needed here) */


/* footer */

footer{
	background-color: #454647;
	color: white;
}

/* colors */

nav,
div.work,
a.button
{
    color: white;
    background-color: #5E35B1;
}
 .testimonials{
     background-color: #E2E2E2;
 }
 .about{
     background-color: #E7E7E7;
 }


@media screen and (min-width: 768px){

	nav{
		height: 80px;
		justify-content: space-between;
		flex-direction: row;
	}
		#logo,
		#menu
		{
			margin: 0;
			padding: 0 0 0 1.125rem;
		}

		nav h1{
			flex: unset;
		}
			nav li{
				flex: unset;
				font-size: 1.125rem;
				padding: 0 1rem 0 0 ;
			}

	/* hero */
	.hero{
		align-items: center;
	}
		.hero h2{
			flex-direction: row;
			font-size: 4.5rem; 
			margin-bottom: 3rem;
		}
			.hero h2 span{
				margin-left: 1.25rem;
			}
		.hero .button{
			width: 180px;
		}

	/* about */
	.about{
		padding: 3rem 5.3rem;
	}

	/* what-we-do */

	.what-we-do{
		display: flex;
		max-width: 1200px;
		margin: 0 auto;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: row;
	}
		.what-we-do h2{
			width: 100%;
		}
		.what-we-do-item{
			width: 50%;
			padding: .75rem;
		}

	/* work */
	.work{
		padding: 3rem 8.75rem;
	}

	/* testimonials */
	.testimonials{
		background-color: #efefef;
	}
		.testimonials-item{
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		.testimonials-item:nth-child(odd){
			flex-direction: row-reverse;	
		}
			.testimonials-image{
				width: 6.4rem;
				height: 6.4rem;
				margin-right: 1.25rem;
			}
			.testimonials-item:nth-child(odd) .testimonials-image{
				margin-left: 1.25rem;
			}

			.testimonials-text{
				flex: 1;
			}
}

@media screen and (min-width: 1440px){
	
}